.forgot-password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-password-sub-container{
    padding: 15px 25px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.success-text{
    color:green;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
}